<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
	<listeners>
		<listener
			class-name="DS.UI_Automation_Framework.TestComponents.Listeners">
		</listener>
	</listeners>

	<test thread-count="5" name="Test1">
		<classes>
			<class name="DS.UI_Automation_Framework.Tests.SubmitOrderTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Test2">
		<classes>
			<class name="DS.UI_Automation_Framework.Tests.ErrorValidationsTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
